.lead {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

@media (min-width: 1280px) {
    .lead {
        width: 984px;
        min-height: 1005px;
        margin-top: 47px;
    }
}

@media screen  and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        width: 928px;
        margin-top: 39px;
        min-height: 962px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        width: 768px;
        margin-top: 38px;
        min-height: 862px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead {
        width: 320px;
        margin-top: 41px;
        min-height: 406px;
    }
}