.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 15px 0;
    padding-top: 10px;
    width: 484px;
}

.place__paragraph:nth-last-child(1) {
    margin-bottom: 0;
}

@media (max-width: 1279px) {
    .place__paragraph{
        width: 435px;
    }
}

@media (max-width: 1023px) {
    .place__paragraph {
        width: 352px;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .place__paragraph {
        width: 287px;
        font-size: 16px;
        padding-top: 25px;
        padding-left: 15px;
        margin-bottom: 0;
    }
}