.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 767px) {
    .footer__copyright {
        margin-top: 23px;
        padding-left: 16px;
    }
}