.cover {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 91px;
    display: flex;
}

@media (max-width: 1279px) {
    .cover {
        min-height: 640px;
        margin-top: 89px;
    }
}

@media (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin-top: 87px;
    }
}

@media (max-width: 767px) {
    .cover {
        min-height: 200px;
        margin-top: 64px;
    }
}
