.place {
    display:grid;
    row-gap: 36px;
    max-width: 100%;
    grid-template-columns: 460px auto;
    width: 986px;
    column-gap: 42px;
}

@media (max-width: 1279px) {
    .place {
        grid-template-columns: 440px auto;
        width: 928px;
        column-gap: 33px;
    }
}

@media (max-width: 1023px) {
    .place {
        width: 720px;
        grid-template-columns: 340px auto;
        column-gap: 28px;
        row-gap: 40px;
    }
}

@media (max-width: 767px) {
    .place {
        width: 320px;
        grid-template-columns: 1fr;
        row-gap: 9px;
    }
}